@use '../../../../../styles.scss' as gv;
.input-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin: 5px 0;
}
.input-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color:gv.$color-gray-008;
}
.input-box {
  padding: 6px 8px;
  border: 1px solid gv.$color-gray-003;
  font-size: 14px;
  width: 100%;
  background-color: gv.$color-gray-009;
  border-radius: 5px;
  outline-offset: 4px;
}
