@if (isEditMode) {
  <div class="address-content-cont" [formGroup]="form">

    <ui-select-input
      formControlName="countryId"
      [items]="countries"
      [disabled]="isLocked"
      label="Country"
      placeholder="Country"
      style="--z-index: 7"
    ></ui-select-input>

    <ng-container *ngIf="isPhilippines; else nonPhTemplate">

      <ui-select-input
        formControlName="regionId"
        [items]="regions"
        [disabled]="isRegionDisabled"
        label="Region"
        placeholder="Region"
        style="--z-index: 6"
      ></ui-select-input>

      <ui-select-input
        formControlName="provinceId"
        [items]="provinces"
        [disabled]="isProvinceDisabled"
        label="Province"
        placeholder="Province"
        style="--z-index: 5"
      ></ui-select-input>

      <ui-select-input
        formControlName="cityId"
        [items]="cities"
        [disabled]="isCityDisabled"
        label="City"
        placeholder="City"
        style="--z-index: 4"
      ></ui-select-input>

      <ui-select-input
        formControlName="barangayId"
        [items]="barangays"
        [loading]="loadingBarangays"
        [disabled]="isBarangayDisabled"
        label="Barangay"
        placeholder="Barangay"
        style="--z-index: 3"
      ></ui-select-input>

    </ng-container>

    <ng-template #nonPhTemplate>

      <ui-manual-input
        formControlName="regionText"
        label="Region"
        placeholder="Region"
        [disabled]="isLocked"
      ></ui-manual-input>

      <ui-manual-input
        formControlName="provinceText"
        label="Province"
        placeholder="State / province"
        [disabled]="isLocked"
      ></ui-manual-input>

      <ui-manual-input
        formControlName="cityText"
        label="City"
        placeholder="City / Town"
        [disabled]="isLocked"
      ></ui-manual-input>

      <ui-manual-input
        formControlName="suburbText"
        label="Suburb"
        placeholder="Suburb"
        [disabled]="isLocked"
      ></ui-manual-input>

    </ng-template>

    <ui-manual-input
      formControlName="addressLine1"
      label="Line 1"
      placeholder="Subdivision, Village, etc."
      [disabled]="isLocked"
    ></ui-manual-input>

    <ui-manual-input
      formControlName="addressLine2"
      label="Line 2"
      placeholder="Building no., Street, etc."
      [disabled]="isLocked"
    ></ui-manual-input>

    <ui-manual-input
      formControlName="postalCode"
      label="Postal"
      placeholder="Postal / ZIP Code"
      [disabled]="isLocked"
    ></ui-manual-input>

  </div>
} @else {
  <div class="label-container">
    <ui-view-item label="Address" value="..."></ui-view-item>
  </div>
}
